<!DOCTYPE html>

<!--
Designed and developed by:
┌─┐┌─┐┌─┐┌─┐┬─┐  ┌─┐┌┬┐┌─┐┬─┐┌─┐
│ │└─┐│  ├─┤├┬┘  │ │ │ ├┤ ├┬┘│ │
└─┘└─┘└─┘┴ ┴┴└─  └─┘ ┴ └─┘┴└─└─┘
https://oscarotero.com
-->

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{author}}">
        <meta name="title" content="{{title}}">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">

        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="{{url 'jquery.png'}}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{twitter}}">
        <meta name="twitter:creator" content="{{twitter}}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{url 'jquery.png'}}">

        <link rel="stylesheet" href="{{css 'styles.css'}}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{css 'styles-print.css'}}" type="text/css" media="print">
        <script type="text/javascript" src="{{js 'main.js'}}"></script>
        <script>
          if (document.childNodes[1].nodeType === 8) {
            console.log(document.childNodes[1].nodeValue);
          }
        </script>
    </head>

    <body>
        <header class="main-header">
            <h1>
                <strong><a href="http://jquery.com/" title="Go to jQuery site">jQuery</a></strong>
                Quick API Reference
            </h1>

            <div class="filter-group">
                <div class="filter filter-version">
                    <select id="version" data-placeholder="Version...">
                        {{#each (reverse versions)}}
                        <option data-source="{{this.source}}" value="{{this.value}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="filter filter-search">
                    <select id="search" placeholder="Search...">
                        <option></option>

                        {{#*inline "option"}}
                        {{#each section.sections}}
                            {{#each this.items}}
                                <option data-data="{{itemOptionData ../../section.slug}}" value="{{this.doc}}">{{this.text}}{{section.slug}}</option>
                            {{/each}}
                        {{/each}}
                        {{/inline}}

                        {{>option section=selectors}}
                        {{>option section=attributes}}
                        {{>option section=manipulation}}
                        {{>option section=traversing}}
                        {{>option section=events}}
                        {{>option section=effects}}
                        {{>option section=ajax}}
                        {{>option section=core}}
                    </select>
                </div>
            </div>

            <a class="about" href="#about" id="about-link">Preferences...</a>
        </header>

        {{#*inline "article"}}
        <article id="{{article.slug}}" class="{{article.slug}}">
            <h1>{{article.title}}</h1>

            <div>
                <div>
                {{#*inline "section"}}
                <section>
                    <h2>{{this.title}}</h2>

                    <ul>
                        {{#each this.items}}
                        <li>
                            <a class="{{itemClass}}" title="{{this.title}}" href="https://api.jquery.com/{{this.doc}}/" data-src="{{this.src}}">
                                {{this.text}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </section>
                {{/inline}}

                {{#each article.sections}}
                    {{#if this.break}}
                        </div><div>
                    {{/if}}

                    {{>section}}
                {{/each}}
                </div>
            </div>
        </article>
        {{/inline}}

        <div class="main-content ly-horizontal">
            {{>article article=selectors}}
            {{>article article=attributes}}
            {{>article article=manipulation}}
            {{>article article=traversing}}
            {{>article article=events}}
            {{>article article=effects}}
            {{>article article=ajax}}
            {{>article article=core}}
        </div>

        <div id="about" class="mfp-hide">
            <fieldset>
                <h4>Open links:</h4>
                <label><input type="radio" name="open_links" value="modal-window"> Modal window</label>
                <label><input type="radio" name="open_links" value="new-window"> New window</label>
                <label><input type="radio" name="open_links" value="same-window"> Same window</label>
            </fieldset>

            <fieldset>
                <h4>Layout:</h4>
                <label><input type="radio" name="layout" value="horizontal"> Horizontal</label>
                <label><input type="radio" name="layout" value="vertical"> Vertical</label>
            </fieldset>

            <p><a href="https://github.com/oscarotero/jquery-cheatsheet" title="Get the code from github">Source code</a> | by <a href="https://twitter.com/misteroom">@misteroom</a></p>
        </div>

        <div id="modal" class="mfp-hide">
            <ul>
                <li class="link-api"><a href="">API doc</a></li>
                <li class="link-src"><a href="http://james.padolsey.com/jquery/" target="_blank">Source viewer</a></li>
            </ul>
            <div>
                <iframe src="about:blank"></iframe>
            </div>
        </div>
    </body>

    <script>
        var _paq=_paq || [];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),_paq.push(["disableCookies"]),function(){var e="//piwik.oscarotero.com/";_paq.push(["setTrackerUrl",e+"piwik.php"]),_paq.push(["setSiteId",1]);var a=document,p=a.createElement("script"),r=a.getElementsByTagName("script")[0];p.type="text/javascript",p.async=!0,p.defer=!0,p.src=e+"piwik.js",r.parentNode.insertBefore(p,r)}()
    </script>
    <noscript><p><img src="//piwik.oscarotero.com/piwik.php?idsite=1" style=border:0 alt=""></p></noscript>

    <script>
        try {
            navigator.serviceWorker.register('{{url 'sw.js'}}');
        } catch (err) {
            console.error(err);
        }
    </script>
</html>
